---
import { PortableText } from 'astro-portabletext';

import Layout from '../../layouts/Layout.astro';
import { getPortfolio } from '../../../sanity/api';
import Code from '../../components/PortableText/Code.astro';
import Image from '../../components/PortableText/Image.astro'
import type { Project } from '@types';
import urlFor from '../../../utils/urlFor';

const components = {
  type: {
    code: Code,
    image: Image
  },
};

export async function getStaticPaths() {
  const allProjects: Project[] = await getPortfolio();
  return allProjects.map((project: Project) => ({
    params: { slug: project.slug.current },
    props: { project },
  }));
}

const {
  project: { title, body, publishedAt },
} = Astro.props;
---

<style>
  .blog-title {
    margin-bottom: 0;
  }

  .blog-heading {
    margin-bottom: 1.5rem;
  }
</style>

<Layout 
  title={`${title} — Adam Fenwick`}
>
  <main id="main-content" class="main">
    <div>
      <div class="blog-heading">
        <h1 class="blog-title">{title}</h1>
        <!-- <p>{publishedAt}</p> -->
      </div>
      <PortableText value={body} components={components} />
    </div>
  </main>
</Layout>
