---
import Layout from '../layouts/Layout.astro';

import { formatDate } from '../../utils/formatDate';
import { getBlogs } from '../../sanity/api';

interface BlogPost {
  title: string;
  slug: {
    current: string;
  };
  body: string;
  categories: [
    {
      key: string;
      title: string;
    }
  ]
  publishedAt: string;
}

const blogs: BlogPost[] = await getBlogs();
---

<Layout 
  title="Articles on web accessibility and frontend development. — Adam Fenwick"
  description="Articles on web accessibility and frontend development."
  shareableImage="/logo-shareable.png"
>
  <main id="main-content">
    <div class="bg-white border-solid rounded-md border-black p-5">
      <h1 class="text-4xl mb-5">Blog</h1>
      <div id="blogs">
        {
          blogs.map((blog) => (
            <article id={blog.slug.current} class="border-b-2 border-gray-400 pb-5 mb-5">
              <h2 class="md:text-3xl mb-0">
                <a class="link text-blue-800" href={`/blogs/${blog.slug.current}`} data-cy="blogUrls">{blog.title}</a>
              </h2>
              <div class="mb-2">
              <time datetime={formatDate(blog.publishedAt)}>{blog.publishedAt}</time>
                {blog.categories &&
                  <span> -
                    {Object.keys(blog.categories).map((key) => (
                      <span>{blog.categories[key].title}</span>
                    ))}
                  </span>
                }
              </div>
              <p>{blog.teaser}</p>
            </article>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
