---
import Layout from '../layouts/Layout.astro';

import { formatDate } from '../../utils/formatDate';
import { getBlogs, getLatestBlogs } from '../../sanity/api';
import Pagination from '../components/Pagination.astro';

interface BlogPost {
  title: string;
  slug: {
    current: string;
  };
  teaser: string;
  body: string;
  categories: [
    {
      key: string;
      title: string;
    }
  ]
  publishedAt: string;
}

// const blogs: BlogPost[] = await getBlogs();
const blogs: BlogPost[] = await getLatestBlogs();
---

<style>
  .blog-list {
    padding-left: 0;

    li {
      list-style: none;
    }

    .blog-preview-title {
      margin-bottom: 0;
    }

    .blog-preview-date {
      display: block;
      margin-bottom: 1rem;
    }
  }
</style>

<Layout 
  title="Articles on web accessibility and frontend development. — Adam Fenwick"
  description="Articles on web accessibility and frontend development."
  shareableImage="/logo-shareable.png"
>
  <main id="main-content" class="main">
    <div>
      <h1 class="text-4xl mb-5">Latest blog posts</h1>
      <div id="blogs">
        <ul class="blog-list">
          {
            blogs.map((blog) => (
              <li id={blog.slug.current}>
                <h2 class="blog-preview-title">
                  <a class="link" href={`/blog/${blog.slug.current}`} data-cy="blogUrls">{blog.title}</a>
                </h2>
                <time class="blog-preview-date" datetime={formatDate(blog.publishedAt)}>{blog.publishedAt}</time>
                  {/* Remove categories for now */}
                  {/* {blog.categories &&
                    <span> -
                      {Object.keys(blog.categories).map((key, index) => (
                        <span>{blog.categories[key].title}{index === Object.keys(blog.categories).length - 1 ? '' : ', '}</span>
                      ))}
                    </span>
                  } */}
                <p>{blog.teaser}</p>
              </li >
            ))
          }
        </ul>
      </div>
    </div>
  </main>
</Layout>
