---
import type { BlogPost } from '@types';
import { formatDate } from '../../utils/formatDate';

interface Props {
  blog: BlogPost; 
}

const { blog } = Astro.props;
const options = { year: 'numeric', month: 'long', day: 'numeric' };
---

<style>
  .blog-preview-title {
    margin-bottom: 0;
  }

  .blog-preview-date {
    display: block;
    margin-bottom: 1rem;
  }
</style>

<h2 class="blog-preview-title">
  <a class="link" href={`/blog/${blog.slug.current}`} data-cy="blogUrls">{blog.title}</a>
</h2>
<time class="blog-preview-date" datetime={formatDate(blog.publishedAt)}>{blog.publishedAt}</time>
<p>{blog.teaser}</p>