---
import type { GetStaticPathsOptions } from "astro";
import Layout from '../../layouts/Layout.astro';
import BlogList from '../../components/BlogList.astro';

import { getBlogs } from '../../../sanity/api';

interface BlogPost {
  title: string;
  slug: {
    current: string;
  };
  teaser: string;
  body: string;
  categories: [
    {
      key: string;
      title: string;
    }
  ]
  publishedAt: string;
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const blogs: BlogPost[] = await getBlogs() 

  return paginate(blogs, {
    pageSize: 15,
  })
}

const { page } = Astro.props;
const firstPath = "blog";
---

<Layout 
  title="Articles on web accessibility and frontend development. — Adam Fenwick"
  description="Articles on web accessibility and frontend development."
  shareableImage="/logo-shareable.png"
>
  <main id="main-content">
    <div>
      <h1 class="text-4xl mb-5">Blog</h1>
      <div id="blogs">
        <BlogList 
          posts={page.data}
          length={page.lastPage}
          currentUrl={page.url.current}
          currentPage={page.currentPage}
          firstUrl={`/${firstPath}`}
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
          lastUrl={`/${firstPath}/${page.lastPage}`}
          hidePagination={page.data.length < 15}
        />
      </div>
    </div>
  </main>
</Layout>
