---
import { PortableText } from 'astro-portabletext';

import Layout from '../../layouts/Layout.astro';
import { getBlogs } from '../../../sanity/api';
import Code from '../../components/PortableText/Code.astro';
import Image from '../../components/PortableText/Image.astro'
import type { BlogPost } from '@types';
import urlFor from '../../../utils/urlFor';

const components = {
  type: {
    code: Code,
    image: Image
  },
};

export async function getStaticPaths() {
  const allBlogs: BlogPost[] = await getBlogs();
  return allBlogs.map((blog: BlogPost) => ({
    params: { slug: blog.slug.current },
    props: { blog },
  }));
}

const {
  blog: { title, body, teaser, publishedAt, mainImage },
} = Astro.props;
const shareableImage = urlFor(mainImage).url();
---

<Layout 
  title={`${title} — Adam Fenwick`}
  description={teaser}
  shareableImage={shareableImage}
>
  <main id="main-content">
    <div>
      <h1 class="mb-0">{title}</h1>
      <p class="mb-5">{publishedAt}</p>
      <p class="mb-5">{teaser}</p>
      <PortableText value={body} components={components} />
    </div>
  </main>
</Layout>
